.relationship-container {
  position: relative;
  height: calc(100vh - 4rem);
}

.relationship-canvas {
  display: grid;
  height: 100%;
  width: 100vw;
  background-image: url('../components/grid-background.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  position: fixed;
}

.relationship-save_button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}