.card-list_root{
    width:25vw;
    min-width:200px;
    margin-left: 10px;
    background-color: #EBECF0 !important
    
}
.card-list_buttons{
    display: flex; 
    justify-content: space-between
}
.card-list_scroll{
    overflow-y: scroll; 
    max-height:calc(100vh - 10rem)
}