.editable-title_description{
    font-weight: normal !important;
}
.editable-title_title{
    font-weight: bold !important;
}
.editable-title_container{
    margin: 3px;
    display: flex;
}
.editable-title_icon{
    position: static;
    margin-right: 3px;
}
.editable-title_input{
    width: 22vw !important;;
    min-width: 80% !important;;
    font-size: 1.1rem !important;
}

.editable-title_description, 
.editable-title_title{
    flex-grow: 1 ;
    margin-left: 3px !important;
    font-size: 1.2rem !important;
    word-wrap: break-word !important;
    max-width: 90% !important;
    min-width: 80%;

}