.wrapper_main{
    display: flex;
    height: calc(100vh - 4rem);
    background: #C9A9A6;
    width: 100%;
    overflow-y: auto;
    align-items: flex-start;
  }
.wrapper_plus{
  align-self: flex-start
}